{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "expect": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "jest": true
  },
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "camelcase": 0,
    "semi": 1,
    "quotes": [
      "error",
      "single"
    ]
  }
}